# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.log
*.tsbuildinfo

# Environment
.env
.env.local
.env.production.local
.env.test.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary
/tmp/
.cache/
